.header-container {
    background: url('../images/candies-7036390_1920.jpg'), #f07dea67;
    background-size: cover;
    background-position: bottom;
    
}

.search-box-container {
  text-align: right;
  margin-right: 0 !important;
}

.search-box-container .search-box .search {
    background: url("../images/search-icon.png") no-repeat left;
    background-size: 20px;
}

.search-box-container .search-box {
    background-color: white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


.search input:focus{
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

@font-face {
    font-family: 'RampartOne';
    src: url('../fonts/RampartOne-Regular.ttf');
}

.title-container .title {
    font-family: 'RampartOne';
    text-align: center;
    margin: 0;
    color: rgb(15, 2, 61);
}


.controls-container {
    display: flow-root;
    height: 30px;
}

.controls-container .nav-container {
    display: inline-block;
    background-color: white;
}

.controls-container .controls{
    float: right;
}

.controls-container .nav-container .nav-links {
    border: 1px solid #000;
    padding: 2px;
}

.controls-container .controls .favorites {
    background:url('../images/heart-icon.png') no-repeat;
    background-size: 30px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.controls-container .controls .register {
    background:url('../images/add-user-icon.png') no-repeat;
    background-size: 30px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.controls-container .controls .checkout {
    background:url('../images/checkout-icon.png') no-repeat;
    background-size: 30px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.menu-container {
    background-color: #EEF1FF;
    margin-top: 20px;
}

.menu-container ul {
    padding-left: 0px;
}

.menu-parent {
    list-style-type: none;
    display: block;
    background-color: #AAC4FF;
}

.menu-parent div {
    border: solid #6F38C5;
    border-width: 2px;
}

.menu-item {
    padding: 0px !important;
}

.menu-item .menu-child {
    border: solid#B1B2FF;
    border-width: 2px;
    padding-left: 15px;
 
}

.acordion-body .menu-child:nth-child(even) {
    border-width: 0px 2px 0px 2px;
}

.products-container {
    text-align: center;
}

.checkout .products-row .product {
    display: block;
    border: 0;
}

.checkout .products-row .product .product-image {
    display: inline-block;
}

.checkout .products-row .product .product-info-container {
    display: inline-block;
}

.checkout .products-row .product .product-info-container .product-buttons-container .product-quantity-picker input{
    width: 40px;
}

.checkout .products-row .product .product-subtotal-price {
    display: inline-block;
}

.favorites .products-row .product {
    display: block;
}

.products-container .products-row .product .product-image img {
    width: 80px;
    height: 80px;
}

.products-container .products-row .product .product-image-principal {
    border: solid #000000;

}

.products-container .products-row .product .product-image-principal img {
    width: 300px;
}


.products-container .products-row .product .product-image-thumbnail {
    display: inline-block;
    border: solid #000000;
    border-width: 2px ;
    margin-top: 5px;
}

.products-container .products-row .product .product-image-thumbnail img {
    width: 120px;
}

.section {
    display: flex;
    background-color: #EEF1FF; 
}

.body-container {
    margin-top: 20px;
    background-color: #EEF1FF;
    display: table-cell;
    width: 100%;   
}


.footer-container {
    text-align: end;
}

.footer-container .social-networks .twitter img{
    width: 30px;
}

.footer-container .social-networks .instagram img{
    width: 30px;
}

.footer-container .social-networks .facebook img{
    width: 30px;
}

.menu-btn {
    position: relative;
    display: flex !important;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x) !important;
    font-size: 1rem !important;
    color: var(--bs-accordion-btn-color) !important;
    text-align: left !important;
    border: 0 !important;
    border-radius: 0 !important;
    overflow-anchor: none !important;
}

