.product-section {
    display: flex;
    .menu-container {
        display: inline-block;
    }
}

#carouselExampleControls {
  .carousel-indicators {
    [data-bs-target] {
      background-color: unset !important;
    }
  }

  .carousel-inner {
    img {
      width: 100%;
      height: 100%;
    }
  }
}