.product-section {
    display: flex;
    .menu-container {
        display: inline-block;
    }
    .product {
      .products-container {
        .add-product-container {
          .product-quantity-picker {
            input {
              width: 60px;
            }
          }
        }
      }
    }
}

#carouselExampleControls {
  .carousel-indicators {
    [data-bs-target] {
      background-color: unset !important;
    }
    position: relative;
  }

  .carousel-inner {
    img {
      width: 100%;
      height: 100%;
    }
  }
}